<p style="color: green"><%= notice %></p>

<h1>Services</h1>

<%= link_to new_service_path, class: 'mb-3 btn btn-primary' do %>
      Add a service
    <% end %>

<div id="services">
  <ul class="list-group">
    <% @services.each do |service| %>
      <%= render service %>
    <% end %>
  </ul>
</div>
