<h1 class="d-flex">
  <div>
    Services
  </div>
  <div class="ms-auto">
    <%= link_to new_service_path, class: 'mb-3 btn btn-primary' do %>
      Add a service
    <% end %>
  </div>
</h1>

<div id="services">
  <ul class="list-group">
    <% @services.each do |service| %>
      <%= render service %>
    <% end %>
  </ul>
</div>
