<%= link_to "Add a booking", new_booking_path(business_id: @business.id), class: "btn btn-primary" %>

<%= week_calendar(events: @bookings) do |date, bookings| %>
  <%= date.day %>

  <% bookings.each do |booking| %>
    <div>
      <%= render "bookings/card", booking: booking %>
    </div>
  <% end %>
<% end %>
