<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Welcome to <strong>BookMe!</strong></h1>
  <%= image_tag asset_path('favicon.png'), width: "100", height: "100", class: "mb-3" %>
  <p>Search for businesses to book an appointment, or add your business to start managing your bookings!</p>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search for businesses, services, and locations!" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
</div>

<div class="text-center">
  <h2>Businesses in your area</h2>
</div>

<div class="container mt-4">
  <div class="masonry-grid">
    <% @businesses.each do |business| %>
      <div class="masonry-item">
        <%= render "businesses/card", business: business %>
      </div>
    <% end %>
  </div>
</div>
