<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search for businesses, services, and locations!" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
</div>

<div style="d-flex justify-content-center align-items-center">
  <h2>Businesses in your area</h2>
</div>

<div class="container mt-4">
  <div class="row">
    <% @businesses.each do |business| %>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <%= render "businesses/card", business: business %>
      </div>
    <% end %>
  </div>
</div>
