<div class="text-center primary-color">
  <h2>Businesses on BookMe</h2>
</div>

<div class="container mt-4">
  <div class="masonry-grid">
    <% @businesses.each do |business| %>
      <div class="masonry-item">
        <%= render "businesses/card", business: business %>
      </div>
    <% end %>
  </div>
</div>
