<div class="d-flex justify-content-center align-items-center">
  <div class="col-md-6">
    <h1>New business</h1>

    <%= render "form", business: @business %>

    <br>

    <div>
      <%= link_to "Back", :back, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
