<a href="/bookings/<%= booking.id %>" class="card text-decoration-none" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title">
      <%= "#{booking.service.name} for #{booking.client.full_name}" %>
    </h6>
    <p class="card-subtitle text-muted">
      <%= "#{booking.format_time(booking.started_at)} - #{booking.format_time(booking.ended_at)}" %>
    </p>
  </div>
</a>
