<p style="color: green"><%= notice %></p>

<h1><%= @business.name %> Bookings</h1>

<ul class="list-group">
  <% @bookings.each do |booking| %>
    <%= render 'bookings/list_group_item', booking: booking %>
  <% end %>
</ul>

<%= link_to "New booking", new_booking_path(business_id: @business.id) %>
