<p style="color: green"><%= notice %></p>

<h1>Your Bookings</h1>

<% if current_user.sent_bookings.count > 0 %>
  <ul class="list-group">
    <% @bookings.each do |booking| %>
      <%= render 'bookings/list_group_item', booking: booking %>
    <% end %>
  </ul>
<% else %>
  You have no bookings. Click <%= link_to "here", businesses_path %> to go to a business's page and book an appointment!
<% end %>
