<div class="d-flex justify-content-center align-items-center">
  <div class="col-md-6">
    <% if current_user != @booking.business.owner %>
      <h2>You are booking a <%= @booking.service %></h2>
    <% else %>
      <h1>New booking at <%= @booking.business.name %></h1>
    <% end %>

    <%= render "form", booking: @booking %>

    <br>

    <div>
      <%= link_to "Back", :back, class: "btn btn-secondary" %>
    </div>
  <div>
</div>
