<h1>Editing business hour</h1>

<%= render "form", business_hour: @business_hour %>

<br>

<div>
  <%= link_to "Show this business hour", @business_hour %> |
  <%= link_to "Back to business hours", business_hours_path %>
</div>
