<h1 class="mb-3">Business Hours</h1>

<div id="business_hours">
  <ul class="list-group">
    <% @business_hours.each do |business_hour| %>
      <%= render business_hour %>
    <% end %>
  </ul>
</div>
