/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require calendar
 */

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin: 0 auto;
}
.masonry-item {
  break-inside: avoid;
  page-break-inside: avoid;
}

/* Forms */
.form-label {
  display: block;
}

/* TODO: add custom asterisk for required fields */

 /* Photos */
.logo {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover;
}

.profile-picture {
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.service-photo {
  width: 100px; 
  height: 75px; 
  object-fit: cover; 
}

#businesses .card-img-top {
  max-width: 80%;
  margin: 0 auto;
  display: block; 
}

/* Buttons */

.btn-primary {
  background-color: #92bf72;
  border-color: #92bf72;
  color: black;
}

.btn-primary:hover {
  background-color: black;
  border-color: black;
  color: #92bf72;
}

.btn-outline-primary {
  background-color: transparent; 
  border-color: #92bf72; 
  color: #92bf72; 
}

.btn-outline-primary:hover {
  background-color: #92bf72; 
  border-color: #92bf72; 
  color: black; 
}

.btn-secondary {
  background-color: #e1dfdf;
  border-color: #e1dfdf;
  color: black;
}

.btn-danger {
  background-color: #cd4d4d;
  border-color: #e1dfdf;
  color: white;
}

.btn-danger:hover {
  background-color: black;
  border-color: black;
  color: #cd4d4d;
}

.btn-success {
  background-color: #4d8bcd;
  border-color: #4d8bcd;
  color: white;
}

.btn-success:hover {
  background-color: black;
  border-color: black;
  color: #4d8bcd;
}

.form-button {
  background-color: #92bf72;
  border-color: #92bf72;
  color: black;
  margin-top: 2px;
}

.form-button:hover {
  background-color: black;
  border-color: black;
  color: #92bf72;
  margin-top: 2px;
}

/* Colors */

.success {
  background-color: #92bf72;
}

.danger{
  background-color: #cd4d4d;
}

/* Navbar */

.custom-navbar {
  background-color: #92bf72;
}
