.logo {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover;
}

.profile-picture {
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.service-photo {
  width: 100px; 
  height: 75px; 
  object-fit: cover; 
}
